
html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;   
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f5f7fa;
  padding-bottom: 100px; 
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;       
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px; 
  z-index: 1000;
  background-color: #ffffff;
  box-sizing: border-box;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1;    
}

.logo h1 {
  margin: 0;
  font-size: 28px;
  color: #0078ff;
}

.subtitle {
  font-size: 10px;
  color: #555;
  font-style: italic;
  margin: 2px 0 0 0;
}

nav {
  display: flex;
  gap: 20px;        
  align-items: center; 
}

nav a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #0078ff;
  transition: width 0.3s ease;
}

nav a:hover {
  color: #0078ff;
}

nav a:hover::after {
  width: 100%;
}

nav a.active {
  color: #0078ff;
}

nav a.active::after {
  width: 100%; 
}

.profile {
  display: flex;
  gap: 20px;       
  align-items: center; 
  justify-content: center;
}

.profile img {
  display: block;
  width: 400px;
  height: auto;
}

.profile-text {
  font-family: 'Georgia', 'Times New Roman', serif;
  color: #000;                                 
  display: flex;
  flex-direction: column;
  gap: 0;                                    
}


.profile-text > * {
  margin: 0;
  padding: 0;
  line-height: 0.6; 
}

.line1 { font-size: 28px; text-align: left; margin-left: 0px; margin-bottom: 8px; } 
.line2 { font-size: 40px; text-align: left; margin-left: 140px; margin-bottom: 8px; font-style: italic; } 
.line3 { font-size: 22px; text-align: left; margin-left: 250px; margin-bottom: 20px; } 
.line4 { font-size: 32px; text-align: left; margin-left: 0px; margin-bottom: 10px; } 
.line5 { font-size: 36px; text-align: left; margin-left: 180px; margin-bottom: 10px; font-style: italic;} 
.line6 { font-size: 24px; text-align: left; margin-left: 320px; margin-bottom: 30px; } 
.line7 { font-size: 32px; text-align: left; margin-left: 90px; margin-bottom: 10px; font-style: italic;} 
.line8 { font-size: 24px; text-align: left; margin-left: 0px; margin-bottom: 10px; } 
.line9 { font-size: 34px; text-align: left; margin-left: 90px; margin-bottom: 30px; font-style: italic;} 
.line10 { font-size: 30px; text-align: left; margin-left: 400px; margin-bottom: 8px; } 
.line11 { font-size: 36px; text-align: left; margin-left: 220px; margin-bottom: 8px; font-style: italic;} 
.line12 { font-size: 26px; text-align: left; margin-left: 0px; margin-bottom: 8px; }

h1 { color: #2c3e50; }
h2 { color: #0078ff; margin-top: 24px; padding-top: 12px; }
h6 { border-bottom: 1px solid #eee; }

.contact, .job, .error-section, .code-example, .fixed-code {
  padding:20px;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background: #ffffff
}

.job-title { font-weight: bold; color: #2c3e50; font-size: 1.2em; }
.company { font-style: italic; color: #7f8c8d; }
.date { color: #7f8c8d; font-size: 0.9em; margin-top: 5px; }
ul { margin: 10px 0; padding-left: 20px; }
li { margin-bottom: 8px; }

.skills,
.education-container {
  display: flex;
  flex-wrap: wrap;  
  gap: 10px;         
  margin: 10px 0;
}


.skill-category,
.education {
  background: #ffffff;
  padding: 15px;
  border-radius: 5px;
  flex: 1;             
  min-width: 200px; 
  box-sizing: border-box;
  box-shadow: 0 2px 5px #0000001a;
}

.education strong {
  display: block;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.date {
  font-size: 0.9em;
  color: #7f8c8d;
  margin-top: 5px;
}

.skill-category h3 {
  margin: 0 0 5px 0;
  font-size: 1.1em;
  color: #2c3e50;
}

.contact-section {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

  .contact-form {
    background: #fff;
    padding: 25px 25px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 1200px;
  }

  .contact-form h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
  }

  .contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }

.contact-form input,
.contact-form textarea {
  width: 100%;            
  box-sizing: border-box; 
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  font-family: Arial, sans-serif; 
  color: #333; 
  display: block;
  margin-bottom: 20px;
  resize: none;          
}

.contact-form input[type="submit"] {
  background: #3498db;
  width: 300px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
  display: block;        
  margin: 0 auto 20px auto; 
}

  .contact-form input[type="submit"]:hover {
    background: #2980b9;
  }

  .success-message {
    text-align: center;
    color: green;
    margin-top: 15px;
  }

  .error-message {
    text-align: center;
    color: red;
    margin-top: 15px;
  }


.timeline {
  position: relative;
  padding-left: 40px; 
  max-width: 1200px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 17px;         
  margin-top: 35px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #d0d0d0; 
}

.timeline .job {
  position: relative;
  padding: 20px 20px;
  margin-bottom: 40px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  flex: 1;
  width: 100%; 
  box-sizing: border-box;
}


.timeline .job::before {
  content: "";
  position: absolute;
  left: -32px;        
  top: 25px;          
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
  border: 3px solid #0078ff; 
  box-shadow: 0 0 0 4px rgba(0, 120, 255, 0.1);
}

.timeline .job-title {
  font-weight: bold;
  color: #2c3e50;
  font-size: 1.2em;
}

.timeline .company {
  font-style: italic;
  color: #7f8c8d;
}

.timeline .date {
  color: #7f8c8d;
  font-size: 0.9em;
  margin: 5px 0 10px 0;
}

.timeline ul {
  margin: 10px 0;
  padding-left: 20px;
}

.timeline li {
  margin-bottom: 8px;
  color: #444;
  line-height: 1.5;
}

.icons {
  margin-top:4px;
  width: 56px; 
  height: auto;

}

a {
  text-decoration: none; 
  color: #0077b5; 
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: calc(100vh -  header height); 
}

.card{
  text-align:center;
  margin-top: 40px;
  max-width:760px;
  width:100%;
  padding:24px;
  border-radius:16px;
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(6px);
  box-shadow:0 6px 30px rgba(100, 100, 100, 0.219);
}

h1{font-size:48px;margin:0 0 0px;text-transform:uppercase}
p.lead{margin:0 0 24px;color:var(--muted);font-size:16px}
.social{display:flex;gap:14px;justify-content:center;flex-wrap:wrap}
.social a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  border-radius: 10px;
  text-decoration: none;
  color: #1b1b1b;
  background: rgba(255,255,255,0.02);
  font-size: 14px;
}
.card h1,
.card h2 {
  padding: 0 !important;
  margin: 0 !important;
  line-height: 1.1 !important; 
  color: #3b3b3b !important; 
}
.icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  fill: currentColor; 
}


/* ========== Tablet, iPad ========== */
@media (max-width: 1024px) {

  body {
    padding: 80px 20px 100px 20px; 
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    flex-direction: row;
  }

  .left {
    align-items: flex-start;
  }

  nav {
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 16px;
  }

  .profile {
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    flex-direction: row;
  }

  .profile img {
    width: 260px; 
  }

  .profile-text {
    text-align: center;
  }
.line1  { font-size: 22px; margin-left: 0px; margin-bottom: 6px; }
.line2  { font-size: 28px; margin-left: 84px; margin-bottom: 6px; }
.line3  { font-size: 18px; margin-left: 180px; margin-bottom: 0px; }
.line4  { font-size: 24px; margin-left: 0px; margin-bottom: 8px; }
.line5  { font-size: 28px; margin-left: 128px; margin-bottom: 8px; font-style: italic; }
.line6  { font-size: 18px; margin-left: 54px; margin-bottom: 12px; }
.line7  { font-size: 24px; margin-left: 16px; margin-bottom: 8px; font-style: italic; }
.line8  { font-size: 18px; margin-left: 0px; margin-bottom: 8px; }
.line9  { font-size: 24px; margin-left: 16px; margin-bottom: 12px; font-style: italic; }
.line10 { font-size: 22px; margin-left: 180px; margin-bottom: 6px; }
.line11 { font-size: 28px; margin-left: 24px; margin-bottom: 6px; font-style: italic; }
.line12 { font-size: 18px; margin-left: 0px; margin-bottom: 6px; }


  .skills,
  .education-container {
    flex-direction: row;
    align-items: center;
    align-items: stretch;
  }

  .skill-category,
  .education {
    width: 90%;
  }


  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }

  iframe {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {

  body {
    padding: 70px 15px 80px 15px;
  }
  header {
    flex-direction: column;           /* 纵向排列标题和导航 */
    justify-content: center;          /* 垂直居中 */
    align-items: center;              /* 水平居中 */
    text-align: center;               /* 文本居中兜底 */
    padding: 8px 10px;
    background-color: #ffffff;
  }

  .left {
    align-items: center;         
    text-align: center;          
    margin-bottom: 8px;               /* 和导航栏拉开一点间距 */
  }



  .logo h1 {
    font-size: 20px;            
  }

  .subtitle {
    font-size: 7px;
  }

  nav {
    padding-bottom: 8px;
    display: flex;
    gap: 14px;
  }

  nav a {
    font-size: 14px;           
    padding: 0px 0px;

  }

  .profile {
    flex-direction: row;    
    align-items: flex-start; 
    justify-content: center;
    gap: 10px;              
    margin-top: 30px;
    flex-wrap: nowrap;     
  }

  .profile img {
    width: 160px;              
  }

  .profile-text {
    display: flex;
    flex-direction: column;
    text-align: left;       
    align-items: flex-start; 
    line-height: 1.2;
  }


  .skills,
  .education-container {
    flex-direction: column;
    align-items: stretch;
  }

  .skill-category,
  .education {
    width: 100%;
  }

  .timeline {
    padding-left: 32px;
    
  }

  .timeline::before {
    left: 8px;
  }

  .timeline .job::before {
    left: -33px;
    
  }

  .contact-form input,
.contact-form textarea {
  width: auto;         
  display: block;  
  }

  .contact-form input[type="submit"] {
    background: #3498db;
    width: 100%;
  }
  
  .line1  { font-size: 14px; margin-left: 0; margin-bottom: 4px; }
  .line2  { font-size: 18px; margin-left: 70px; margin-bottom: 4px; }
  .line3  { font-size: 12px; margin-left: 120px; margin-bottom: 0px; }
  .line4  { font-size: 16px; margin-left: 0; margin-bottom: 5px; }
  .line5  { font-size: 18px; margin-left: 95px; margin-bottom: 5px; font-style: italic; }
  .line6  { font-size: 12px; margin-left: 15px; margin-bottom: 8px; }
  .line7  { font-size: 16px; margin-left: 30px; margin-bottom: 5px; font-style: italic; }
  .line8  { font-size: 12px; margin-left: 0; margin-bottom: 5px; }
  .line9  { font-size: 16px; margin-left: 10px; margin-bottom: 8px; font-style: italic; }
  .line10 { font-size: 14px; margin-left: 120px; margin-bottom: 4px; }
  .line11 { font-size: 18px; margin-left: 55px; margin-bottom: 4px; font-style: italic; }
  .line12 { font-size: 12px; margin-left: 0; margin-bottom: 4px; }
  
  .contact-form {
    padding: 20px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }

h2 { color: #0078ff; margin-top: 18px; padding-top: 12px; font-size: 20px;}
}